# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project
.vscode
.references
.kotlin
.cache
.ref

# idea
out
*.ipr
*.iws
*.iml
.idea/*
!.idea/scopes

# gradle
build
.gradle

# other
eclipse
run
runs
